*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#eeeeee;
}

header{
    background:#002855;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
}

.gallery{
    width:90%;
    margin:40px auto;
}

.gallery h2{
    text-align:center;
    margin-bottom:30px;
    color:#002855;
}

.images{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

#images img{
    width: 250px;;
    height: 250px;;
    object-fit:cover;
    border-radius:10px;
    transition:0.3s;
    flex-direction: row;
}

#logo{
    flex-direction: row;
}

.images img:hover{
    transform:scale(1.05);
}

footer{
    background:#002855;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:40px;
}